extends layout

block content
  h1.welcome.title= title
  div.welcome.text
    p Welcome to #{title}
    form.form-horizontal(id="formlogin",action='/',method="POST")
      div.form-group
        label.col-sm-2.control-label(for="email")="Email"
        div.col-sm-10
          input.form-control(type="email" id="email" placeholder="Email")
      div.form-group
        label.col-sm-2.control-label(for="senha")="Password"
        div.col-sm-10
          input.form-control(type="password" id="senha" placeholder="Password")
      div.form-group
        div.col-sm-offset-2.col-sm-10
          div.checkbox
            label
              input(type="checkbox")
              ="Remember Me"
      div.form-group
        div.col-sm-offset-2.col-sm-10
          input.btn(type='button',style='float:left;display:none;',id="registrese",value='Sign up')
          input.btn.btn-default(type='button',style='float:right;',id="login",value='Sign in')
  script.
    function login(){
      $.ajax({
              type: 'POST',
              url: '/login',
              data: { email: $('#email').val(),
                      senha: $('#senha').val()},
              success: function (data) {
                  var ret = jQuery.parseJSON(data);
                  console.log('ret='+data);
                  //alert(ret.msg);
                  if(ret.ok){
                    window.href='\\';
                    window.location.reload();
                  }
              },
              error: function (xhr, status, error) {
                  console.log('Error: ' + error.message);
                  alert('Erro conectando no servidor.');
              }
      });
    }
    $(document).ready(function() {
      console.log("ready!");
      $("#login").click(function () {
        console.log("teste login");
        login();
      });
      $("#registrese").click(function () {
        console.log("teste registro");
        $('#formlogin').attr('action','registro');
        $('#formlogin').submit();
      });
    });
