mixin navBar(navID,tittle)
  div(class="navbar-header")
    button(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#"+navID)
      span(class="icon-bar")
      span(class="icon-bar")
      span(class="icon-bar")
    a(class="navbar-brand",href="#")=tittle
  div(class="collapse navbar-collapse",id=navID)
    ul(class="nav navbar-nav")
      block
mixin navMenu(title)
  +menuItem("#",title,true)(class="dropdown")
    block
mixin dropMenu(title)
  +menuItem("#",title)(class="dropdown dropdown-submenu")
    block
mixin menuItem(href,title,caret)
    li(class="menu-item ")&attributes(attributes)
      if block
        a(href=href class="dropdown-toggle" data-toggle="dropdown")=title
          if caret
            span(class="caret")
        ul(class="dropdown-menu")
          block
      else
        a(href=href)=title
        
mixin inlineForm(id,method,action)
  form(id=id, method=method, action=action,class="form-inline")
    block
mixin imputEmail(label,id)
  div(class="form-group")
    label(for=id)=label
    input(type="email" class="form-control" id=id)
    block
mixin inputText(label,id)
  div(class="form-group")
    label(for=id)=label
    input(type="text" class="form-control" id=id)
    block
mixin inputPassword(label,id)
  div(class="form-group")
    label(for=id)=label
    input(type="password" class="form-control" id=id)
    block
mixin inputSingleCheck(label,id)
  div(class="checkbox")
    label
      input(type="checkbox",id=id)=label
    block
mixin btnDefault(type,id,label)
  button(type=type,id=id,class="btn btn-default")=label
