mixin navBar(navID,tittle)
  div(class="navbar-header")
    button(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#"+navID)
      span(class="icon-bar")
      span(class="icon-bar")
      span(class="icon-bar")
    a(class="navbar-brand",href="#")=tittle
  div(class="collapse navbar-collapse",id=navID)
    ul(class="nav navbar-nav")
      block
mixin navMenu(title)
  +menuItem("#",title,true)(class="dropdown")
    block
mixin dropMenu(title)
  +menuItem("#",title)(class="dropdown dropdown-submenu")
    block
mixin menuItem(href,title,caret)
    li(class="menu-item ")&attributes(attributes)
      if block
        a(href=href class="dropdown-toggle" data-toggle="dropdown")=title
          if caret
            span(class="caret")
        ul(class="dropdown-menu")
          block
      else
        a(href=href)=title
        
mixin verticalForm(id,method,action)
  form(id=id, method=method, action=action,role="form")
    block
mixin horizontalForm(id,method,action)
  form(id=id, method=method, action=action,class="form-horizontal",role="form")
    block
mixin inlineForm(id,method,action)
  form(id=id, method=method, action=action,class="form-inline",role="form")
    block
mixin imputEmail(options)
  div(class="form-group")
    label(for=options.id)=options.label
    input(type="email" class="form-control" id=options.id placeHolder=options.placeHolder value=options.value)=options.value
    block
mixin inputText(options)
  div(class="form-group")
    label(for=options.id)=options.label
    input(type="text",class="form-control",id=options.id,placeHolder=options.placeHolder,value=options.value)=options.value
    block
mixin inputPassword(options)
  div(class="form-group")
    label(for=options.id)=options.label
    input(type="password" class="form-control" placeHolder="Enter a password" id=options.id)
    block
mixin inputSingleCheck(options)
  div(class="checkbox")
    label
      if(options.disabled)
        input(type="checkbox",id=options.id,disabled)
      else
        input(type="checkbox",id=options.id)
      =options.label
    block
mixin btnDefault(options)
  button(type=options.type,id=options.id,class="btn btn-default",onClick=options.onClick)&attributes(attributes)=options.label
mixin btnPrimary(options)
  button(type=options.type,id=options.id,class="btn btn-primary",onClick=options.onClick)&attributes(attributes)=options.label
mixin btnSuccess(options)
  button(type=options.type,id=options.id,class="btn btn-success",onClick=options.onClick)&attributes(attributes)=options.label
mixin btnInfo(options)
  button(type=options.type,id=options.id,class="btn btn-info",onClick=options.onClick)&attributes(attributes)=options.label
mixin btnWarning(options)
  button(type=options.type,id=options.id,class="btn btn-warning",onClick=options.onClick)&attributes(attributes)=options.label
mixin btnDanger(options)
  button(type=options.type,id=options.id,class="btn btn-danger",onClick=options.onClick)&attributes(attributes)=options.label
